pecifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.DS_Store*
node_modules/
platforms/
plugins/
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
.sass-cache/

*.sublime-project

*.sublime-workspace

bower_components/
components/
tmp
temp
dis
