<ion-modal-view style="background: #00b9f2">
  <ion-content>
<!--    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form> -->

<form novalidate ng-submit="doLogin">
        <div class="list list-inset"  style="background: #00b9f2">

                <p align="center" style="margin-top:2em;">
                    <img src="img/skopic-manager.png" style="width:230px;">
                </p>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" 
                       ng-model="loginData.email" 
                       placeholder="Your email">
            </label>
            <label class="item item-input">
                <input type="password" 
                       ng-model="loginData.password"
                       placeholder="Your password"
                       >
            </label>
        </div>        

        <div class="list list-inset" style="margin-top: -1em; background-color:#00b9f2">
                
            <button class="button button-block button-positive" 
                    ng-click="doLogin()">Sign In
            </button>
    </form>
            <button class="button button-block button-clear"
                    style="color:white;"
                    ng-click="forgotPass()">
                <span style="font-size: 12px; color: white; margin-top: -2em">Forgot Password?</span>
            </button>
        </div>
            
            <p>
            
           Your email:  {{loginData.email}} <br>
           Your password: {{loginData.password}}
            </p>
        </div>

    </ion-content>
      
</ion-modal-view>

